# CODEOWNERS
# Ownership is assigned per top-level package based on primary contribution history.
# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

/artifact/      @mushrafmim
/authn/         @sthanikan2000
/authz/         @sthanikan2000
/cors/          @sthanikan2000
/database/      @mushrafmim
/docs/          @mushrafmim
/internal/      @lokewate
/notification/  @sthanikan2000
/pagination/    @saknarajapakshe
/payment/       @mushrafmim
/remote/        @mushrafmim
/secret/        @mushrafmim
/storage/       @ginaxu1
/taskflow/      @lokewate
/temporal/      @Aravinda-HWK
/trace/         @ginaxu1
/uiprojector/   @mushrafmim
/workflow/      @lokewate
